.login_div {
    margin-top: 20px;
    box-sizing: border-box;
    
}

.input_div {
    margin: 10px;
    /* margin-top: 5px; */
}

.input_div input {
    margin: 5px;
    width: 25%;
    height: 2rem;
    border-radius: 10px;
    border: 0.5px solid gray;

}

.login_button {
    margin: 10px;
}

.login_button button {
    margin: 5px;
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    border: 0.5px solid gray;

}

.btn1 {
    color: white;
    background-color: rgb(96, 24, 96);
}

.btn2 {
    background-color: rgb(15, 15, 161);
    color: white;
}